a{
    text-decoration: none;
    padding: 10px;
    color: white;
    float: left;
}
.more{
    overflow: hidden;
    background-color: rgb(10, 103, 103);
}
.more:hover{
    background-color: aqua;
}
.more a:visited{
    color: rgb(242, 119, 12);
}
/* .r{
    border-radius:400px;
    outline: 3px solid black ;
} */